body{
    font-family: sans-serif;
}

#board{
    display: flex;
    flex-direction: column;
}

.cellContainer{
    display: flex;

}
.cell{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}